
.mobile-button {
  position: fixed;
  top: 100px;
  left: 10px;
  z-index: 1;
  background-color: #daa2fa;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
